body {
    background-color:lightblue;
   
}
.bio {
    height:50vh;
}

h1 {
    text-align:center;
}

img {
    width:300px;
    height:300px;
}
.bio1 {
     display:flex;
     flex-direction:row;
     justify-content:center;
    }
    
h3,h4 {text-align:center;}
li {
    text-transform:capitalize;
}
h2 {
    font-family:cursive;
    text-align:center;}